<div class="container-fluid mx-0 px-0">
  <div class="row justify-content-center">
    <!-- -----------------------------------MAIN CONTENT---------------------------------------------- -->

    <form
      class="border bg-light p-4"
      [formGroup]="subscribeForm"
      (ngSubmit)="onSubmit()"
    >
      <h3>Add New Client</h3>
      <div class="form-group">
        <!-- NAME INPUT  -->
        <label for="exampleInputEmail1"
          >Client Name <span class="text-danger">*</span></label
        >
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Enter name"
          formControlName="name"
          (blur)="log()"
        />

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="get('name').touched && get('name').invalid"
        >
          <small *ngIf="get('name').errors.required">Name is required</small>
          <small *ngIf="get('name').errors.maxlength">Name is too long</small>
        </div>
      </div>
      <!----------------------------------------- PHONE INPUT --------------------------------------------------->
      <label for="exampleInputEmail1"
        >Client Phone <span class="text-danger">*</span></label
      >
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter phone"
        formControlName="phone"
        (blur)="log()"
      />

      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="get('phone').touched && get('phone').invalid"
      >
        <small *ngIf="get('phone').errors.required">Phone is required</small>
        <small *ngIf="get('phone').errors.maxlength">Phone is too short</small>
      </div>
      <div class="mt-3">
        <button
          class="mx-1 bg-success text-white"
          type="submit"
          mat-raised-button
          [disabled]="!subscribeForm.valid || editMode"
        >
          Add
        </button>
        <button
          class="mx-1 bg-primary"
          mat-raised-button
          (click)="updateClient(selectedClient)"
          *ngIf="editMode"
        >
          Edit
        </button>
      </div>
    </form>

    <!-- ----------------------------CLIENT TABLE---------------------------------------------------- -->
    <div class="col-sm-9">
      <table class="table table-bordered table-hover bg-light">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Total Spent</th>
            <th scope="col">Point</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.totalSpent }}</td>
            <td>{{ client.totalSpent * 0.05 }}</td>
            <td>
              <span class="d-flex justify-content-end">
                <button
                  class="mx-1"
                  mat-raised-button
                  color="warn"
                  (click)="deleteClient(client)"
                >
                  Delete
                </button>
                <button
                  mat-raised-button
                  class="bg-success"
                  (click)="editClient(client)"
                >
                  Edit
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
